
/* Initialize */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F0E7D5;
    color: #233266;
}

html {
    scroll-behavior: smooth;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    transition: all 3s;
    pointer-events: none;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

/* Animations */
@keyframes slide-left{
    0% {opacity: 0; left:-200px; top:0px;}
    100% {opacity: 1; left:0px; top:0px}
}

@keyframes slide-right{
    0% {opacity: 0; left: 200px; top:0px;}
    100% {opacity: 1; left:0px; top:0px;}
}

@keyframes slide-down{
    0% {opacity: 0; top:-50px;}
    100% {opacity: 1; top:0px;}
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #F0E7D5;
}

.navbar li {
    position: relative;
    opacity: 0;
    animation: slide-down 1s forwards;
}

.no-animation li {
    opacity: 1;
    animation: none;
}

.navbar li:nth-child(1){
    animation-delay: 0s;
}

.navbar li:nth-child(2){
    animation-delay: 0.2s;
}

.navbar li:nth-child(3){
    animation-delay: 0.4s;
}

.navbar li:nth-child(4){
    animation-delay: 0.6s;
}

.navbar li a {
    display: block;
    color: #233266;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    color: #4c598b;
    font-weight: bold;
    text-decoration: underline;
}

.navbar a.active {
    color: #4c598b;
    font-weight: bold;
    text-decoration: underline;
}

/* Home section */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;              /* vertical centering */
    justify-content: center;  
    padding:40px;
    padding-bottom: 100px;
    gap: 80px;
    text-align: center;
}

.home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.home-text h1{
    position: relative;
    margin-bottom: 15px;
    font-size: 80px;
    text-align: left;
    animation-name: slide-left;
    animation-duration: 1.75s;
}

.home-text p{
    position: relative;
    margin-top: 0;
    font-size: 22px;
    text-align: left;
    animation-name: slide-left;
    animation-duration: 1.5s; 
}

.home-img {
    position: relative;
    width: 100%;
    max-width: 360px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px; 
    border-color: #233266;
    animation-name: slide-right;
    animation-duration: 1.5s;
}

.rsocials {
    display: flex;
    margin-top: 10px;
}

.rsocials img {
    width: 40px;
    height: auto;
    filter: grayscale();
    filter: invert(28%) sepia(11%) saturate(1249%) hue-rotate(197deg) brightness(50%) contrast(90%);
    
    opacity: 0;
    animation: fade-in;
    animation-duration: 1.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.rsocials img:hover {
    cursor: pointer;
}

.csocials {
    padding: 10px;
}

/* Skills section */
#skills {
   padding-top: 10px;
}

/* Projects section */
#projects {
    padding-top: 50px;
}

/* Connect section */
#connect {
    padding-top: 50px;
}



