
/* Initialize */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F0E7D5;
    color: #233266;
}

html {
    scroll-behavior: smooth;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 75vh;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

/* Animations */
@keyframes slide-left{
    0% {opacity: 0; left:-200px; top:0px;}
    100% {opacity: 1; left:0px; top:0px}
}

@keyframes slide-right{
    0% {opacity: 0; left: 200px; top:0px;}
    100% {opacity: 1; left:0px; top:0px;}
}

@keyframes slide-down{
    0% {opacity: 0; top:-50px;}
    100% {opacity: 1; top:0px;}
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(211, 211, 211, 0.2);
}

.navbar li {
    position: relative;
    opacity: 0;
    animation: slide-down 1s forwards;
}

.navbar li:nth-child(1){
    animation-delay: 0s;
}

.navbar li:nth-child(2){
    animation-delay: 0.2s;
}

.navbar li:nth-child(3){
    animation-delay: 0.4s;
}

.navbar li:nth-child(4){
    animation-delay: 0.6s;
}

.navbar li a {
    display: block;
    color: #233266;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    color: rgb(95, 14, 14);
    font-weight: bold;
    text-decoration: underline;
}

.navbar a.active {
    color: rgb(95, 14, 14);
    font-weight: bold;
    text-decoration: underline;
}

/* Home section */
.home {
    display: flex;
    align-items: center;              /* vertical centering */
    justify-content: center;  
    padding:10px 40px;
    gap: 80px;
}

.home-text h1{
    position: relative;
    margin-bottom: 15px;
    font-size: 60px;
    animation-name: slide-left;
    animation-duration: 1.75s;
}

.home-text p{
    position: relative;
    margin-top: 0;
    font-size: 20px;
    animation-name: slide-left;
    animation-duration: 1.5s; 
}

.home-img {
    position: relative;
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px; 
    border-color: rgb(95, 14, 14);
    animation-name: slide-right;
    animation-duration: 1.5s;
}

/* Skills section */
#skills {
   
}

/* Projects section */
#projects {
 
}

/* Connect section */
#connect {
  
}



